.ucfad-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  cursor: pointer;
}

.ucfad-inread,
.ucfad-inboard {
  overflow: hidden;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -o-transition: height .5s;
  -ms-transition: height .5s;
  transition: height .5s;
  box-sizing: content-box;
}

.ucfad-inread-loaded,
.ucfad-inboard-loaded {
  height: 100%;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -o-transition: height .5s;
  -ms-transition: height .5s;
  transition: height .5s;
}

.ucfad-inread.no-transition,
.ucfad-inboard.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.ucfad-inread div,
.ucfad-inboard div {
  margin-bottom: 0px !important;
}
div.ucfad-inread div::before,
div.ucfad-inboard div::before,
div.ucfad-impact div::before,
div.ucfad-inread div::after,
div.ucfad-inboard div::after,
div.ucfad-impact div::after {
  display: none !important;
}
div.ucfad-inread.ucfad-display {
  margin-bottom: 10px !important;
}
